<% @settings = Setting.all %>
<% @targets = Target.all %>
<%# @contexts = Context.all %>
<%= form_for(@quip) do |f| %>
<% if @quip.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@quip.errors.count, "error") %>
    prohibited this quip from being saved:</h2>

  <ul>
    <% @quip.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="situation-wrapper">
  <div class="situation-flex">
    <div class="context three">
      <h2 class="temp">Context</h2>


      <% @settings.each do |setting| %>
        <%= f.label "setting_#{setting.id}" do  %>
          <%= f.radio_button :setting, setting.id %>
          <%= "#{setting.set}"%>
        <% end %>
      <% end %>


    </div>

    <div class="context one">

      <h2 class="temp">Situation</h2>

        <% @contexts.each do |context| %>
          <%= label_tag "context_#{context.id}" do %>
            <%= radio_button_tag :context, context.id %>
            <%= "#{context.situation}"%>
          <% end %>
        <% end %>

    </div>

    <div class="context two">

      <h2 class="temp">Person</h2>

        <% @targets.each do |target| %>
          <%= label_tag "target_#{target.id}" do %>
            <%= radio_button_tag :target, target.id %>
            <%= "#{target.person}"%>
          <% end %>
        <% end %>
      </div>

  </div>
</div>



  <div class="field">
    <%= f.label :tips %><br>
    <%= f.text_area :tips %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
