<p id="notice"><%= notice %></p>

<h1>Listing Quips</h1>

<table>
  <thead>
    <tr>
      <th>Tips</th>
      <th>Context</th>
      <th>Target</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quips.each do |quip| %>
      <tr>
        <td><%= quip.tips %></td>
        <td><%= quip.context.situation %></td>
        <td><%= quip.target.person %></td>
        <td><%= link_to 'Show', quip %></td>
        <td><%= link_to 'Edit', edit_quip_path(quip) %></td>
        <td><%= link_to 'Destroy', quip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quip', new_quip_path %>
