<p id="notice"><%= notice %></p>

<p>
  <strong>Tips:</strong>
  <%= @quip.tips %>
</p>
<p>
  <strong>Setting:</strong>
  <%= @quip.setting.set %>
</p>
<p>
  <strong>Context:</strong>
  <%= @quip.context.situation %>
</p>

<p>
  <strong>Target:</strong>
  <%= @quip.target.person %>
</p>

<%= link_to 'Edit', edit_quip_path(@quip) %> |
<%= link_to 'Back', contexts_path, data: { no_turbolink: true }  %>
