<p id="notice"><%= notice %></p>

<h1>Listing Targets</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= label_tag :target, target.person %></td>
        <td><%= radio_button_tag :target, target.person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target', new_target_path %>
<%= link_to 'Context', contexts_path %>
<%= link_to 'Tips', quips_path %>
