<p id="notice"><%= notice %></p>
<div id="alpha">
  <table class="accordion">
    <%= form_tag search_path do %>
    <thead>
      <tr>
        <th><%= link_to "Context", "javascript:void(0)", class: "trigger"%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="submenu">
      <% @settings.each do |setting| %>
      <tr>
        <td><%= link_to "javascript:void(0)", label_tag(:setting, setting.set) %></td>
        <td><%= radio_button_tag :setting, setting.id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="beta">
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @contexts.each do |context| %>
      <tr>
        <td><%= label_tag :context, context.situation %></td>
        <td><%= radio_button_tag :context, context.id %></td>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div id="gamma">
    <table>
      <thead>
        <tr>
          <th>Person</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @targets.each do |target| %>
        <tr>
          <td><%= label_tag :target, target.person %></td>
          <td><%= radio_button_tag :target, target.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Enter'%>
    <% end %>
    <br>
  </div>
