<p id="notice"><%= notice %></p>
<%= form_tag search_path do %>

<div class="context">Context
  <ul>

<% @settings.each do |setting| %>

<li><%= radio_button_tag :setting, setting.id %>
  <%= label_tag :setting, setting.set %></li>
<% end %>
</ul>
</div>

<br>
<div class="situation">Situation
  <ul>

<% @contexts.each do |context| %>
  <li><%= radio_button_tag :context, context.id %>
  <%= "#{context.situation}"%></li>
<% end %>
</ul>
</div>

<br>

<div class="person">Person
  <ul>

<% @targets.each do |target| %>

  <li><%= radio_button_tag :target, target.id %>
  <%= label_tag :target, target.person %></li>
<% end %>
</ul>
</div>

<%= submit_tag 'Enter'%>
<% end %>
<br>
