<p id="notice"><%= notice %></p>
<div id="alpha">
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <%# form_tag do %>
    <tbody>
      <% @contexts.each do |context| %>
      <tr>
        <td><%= label_tag :context, context.situation %></td>
        <td><%= radio_button_tag :context, context.id %></td>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <div id="beta">
    <table>
      <thead>
        <tr>
          <th>Person</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @targets.each do |target| %>
        <tr>
          <td><%= label_tag :target, target.person %></td>
          <td><%= radio_button_tag :target, target.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Enter'%>
    <%# end %>
    <br>
  </div>

  <%= link_to 'New Quip', new_context_path %>
  <%= link_to 'Tips', quips_path %>
